<div class='row page-header'>
    <div class='col-sm-12'>
        <h2>Sites</h2>
    </div>
</div>

<div class='row'>
    <div class='col-sm-12'>
        <div class='pull-right'>
            <a href='#/sites/new' class='btn btn-default'>Create New Site</a>
        </div>
    </div>
</div>

<div class='row'>
    <div class='col-sm-12'>
        <div class='table-responsive'>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Name</th>
                        <th>Group</th>
                        <th>Status</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="site in sites" ng-click="edit(site.id)">
                        <td>
                            {{ site.name }}
                        </td>
                        <td>
                            {{ site.category }}
                        </td>
                        <td>
                            {{ site.official_only }}
                        </td>
                        <td>
                            {{ site.tags.join(", ") }}
                        </td>
                        <td>
                            {{ site.theme }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
