<div class='row page-header'>
    <div class='col-sm-12'>
        <h2>
            Users
            <div class='pull-right'>
                <a href='#/users/new' class='btn btn-default'>Create New User</a>
            </div>
        </h2>
    </div>
</div>

<div class='row'>
    <div class='col-sm-12'>
    </div>
</div>

<div class='row'>
    <div class='col-sm-12 m-b'>
        <div class='pull-right'>
            <pagination on-select-page="goTo(page)" total-items="results.total" page="results.current_page" items-per-page="results.per_page" class="pagination-sm" boundary-links="true" rotate="false"></pagination>
        </div>
        <div class='pull-left'>
            <p class='m-t'>Showing {{ results.from }} to {{ results.to }} of {{ results.total }}</p>
        </div>
    </div>
</div>

<div class='row'>
    <div class='col-sm-12'>
        <div class='table-responsive'>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Name</th>
                        <th>Group</th>
                        <th>Status</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="user in results.data" ng-click="edit(user.id)">
                        <td>
                            {{ user.username }}
                        </td>
                        <td>
                            {{ user.email }}
                        </td>
                        <td>
                            {{ user.meta.first_name + ' ' + user.meta.last_name }}
                        </td>
                        <td>
                            {{ user.group.name }}
                        </td>
                        <td>
                            {{ user.status }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
